# Ignore client secret in flask app
client?secret.json

# Ingore client id in vue app
client?config.js

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
